.App {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(240, 237, 237);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  cursor: pointer;
}

h3 {
  padding: 5px 10px;
}

input {
  padding: 8px 15px;
  margin: 10px;
  border-radius: 5px;
}

.box{
  background-color: rgb(202, 226, 235);
  border-radius: 15px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form-preview {
  text-align: center;
  margin-top: 50px;
}

.form-verify-element {
  text-align: center;
  margin-top: 50px;
  padding: 5px 5px;
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
  /* display: flex; */
  background-color: #8bd3aa;
}

span {
  padding: 5px 5px;
  margin: 10px;
}

.allForms {
  text-align: center;
  padding: 20px;
}

.form-box {
  background-color: aliceblue;
  width: 800px;
  border-radius: 15px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}